@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,600&display=swap");

* {
  outline: none;

  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", monospace;
}

i.material-icons {
  margin-left: 4px;
}

.card {
  text-align: center;
}

.book-image {
  width: 200px;
  height: 200px;
}
